.p_car .head {
    height: 36px;
    border-bottom: 2px solid #ccc;
}

.p_car .head li {
    float: left;
    font-size: 16px;
    font-weight: 700;
}

.p_car .head li:first-child a {
    color: #f40;
}

.p_car .head li a {
    color: black;
    display: block;
    width: 130px;
    padding-left: 25px;
    position: relative;
}

.p_car .head li a:first-child::after,
.p_car .head li a:nth-child(2)::after {
    content: "";
    display: block;
    height: 12px;
    width: 1px;
    background-color: #ccc;
    position: absolute;
    top: 7px;
    right: 0;
}

.p_car .car_sum {
    float: right;
    text-align: center;
    line-height: 24px;
}

.p_car .car_sum span {
    color: black;
}

.p_car .car_sum i {
    padding: 0 6px;
    color: #ff4400;
    font-weight: 700;
}

.p_car .car_sum a {
    color: #fff;
    display: inline-block;
    width: 55px;
    height: 24px;
    background-color: #aaa;
    border-radius: 2px;
}

.tab {
    height: 50px;
    line-height: 50px;
}

.tab div {
    display: inline-block;
}

.th_chk {
    width: 50px;
}

.th_item {
    width: 342px;
    padding-left: 91px;
}

.th_info {
    width: 252px;
    padding-right: 40px;
}

.th_price {
    width: 130px;
}

.th_amount {
    width: 120px;
}

.th_sum {
    width: 140px;
}

.th_op {
    width: 119px;
}

.tab .th_chk input {
    width: 12px;
    height: 12px;
    margin-left: 15px;
    vertical-align: -1px;
}

.tab .th_chk .th_chk_input {
    width: 80px;
    line-height: 50px;
}

.shop_info {
    height: 38px;
    line-height: 38px;
    padding-left: 15px;
    color: black;
}

.shop_info span i {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url(../image/购物车图标02.png);
    background-position: -20px -105px;
    vertical-align: -3px;
    margin: 0 6px;
}

.shop_info input {
    vertical-align: -1px;
}

.shop_info a {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url(../image/购物车图标.gif);
    background-position: -80px 0px;
    vertical-align: -3px;
    margin-left: 15px;
}

.th_item_img {
    margin-right: 8px;
    float: left;
    border: 1px solid #eee;
}

.product_info {
    height: 130px;
    border: 1px solid #ccc;
    background-color: #fcfcfc;
}

.product_info .th_chk {
    height: 130px;
}

.product_info div {
    display: inline-block;
    vertical-align: top;
}

.product_info .th_chk_input {
    padding-top: 20px;
}

.product_info .th_chk_input {
    margin-left: 30px;
}

.product_info .th_item {
    padding: 20px 0 0 0;
    height: 130px;
}

.product_info .th_item_text {
    display: block;
}

.product_info .th_item_text_top a {
    display: block;
    width: 226px;
    height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
}

.product_info .th_item_text_center {
    margin-top: 5px;
    width: 226px;
}

.product_info .th_item_text_bottom {
    margin-top: 5px;
    width: 226px;
}

.product_info .th_item_text_bottom img:first-child {
    vertical-align: 3px;
}

.product_info .th_info_text {
    padding: 20px 0;
    color: #9c9c9c;
}

.product_info .th_price {
    height: 119px;
}

.product_info .th_price p:first-child {
    text-decoration: line-through;
}

.product_info .th_price .th_price_inner_bottom {
    width: 84px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    background-color: #1dc2b4;
    color: #fff;
}

.product_info .th_price_inner {
    padding-top: 12px;
    width: 84px;
}

.product_info .th_price_inner .th_price_inner_top {
    width: 84px;
    padding-top: 8px;
    background-color: #f5f5f5;
}

.product_info .th_price .th_price_inner_bottom span {
    font-family: 'icomoon';
}

.th_amount_inner {
    padding-top: 20px;
}

.amount_wrapper_top a,
.amount_wrapper_top input {
    display: inline-block;
}

.amount_wrapper_top {
    font-size: 0;
    position: relative;
}

.amount_wrapper_top a {
    width: 19px;
    height: 25px;
    background-color: #fff0e7;
    line-height: 21px;
    font-size: 14px;
    text-align: center;
    border: 1px solid #ffe1d3;
    color: #efbba9;
}

.amount_wrapper_top a:first-child {
    border-right: 0;
    margin-right: 39px;
}

.amount_wrapper_top a:last-child {
    border-left: 0;
}

.amount_wrapper_top a:hover {
    color: #ff4400;
}

.amount_wrapper_top input {
    width: 39px;
    height: 25px;
    line-height: 25px;
    text-align: center;
    padding: 4px 0;
    border: 1px solid #ffe1d3;
    font-size: 14px;
    border-color: #efbba9;
    position: absolute;
    top: 0;
    left: 19px;
}

.amount_wrapper_bottom span {
    display: block;
    width: 77px;
    height: 29px;
    text-align: center;
    line-height: 19px;
    padding: 5px 10px;
    background-color: #fff0e7;
    color: #f40;
}

.th_sum .th_sum_inner {
    padding-top: 16px;
    color: #f40;
    font-weight: 700;
}

.th_op .th_sum_inner {
    padding-top: 17px;
}

.car_info {
    margin-bottom: 20px;
}

.bar_wrapper_inner {
    height: 50px;
    background-color: #e5e5e5;
    line-height: 50px;
}

.bar_wrapper_inner_left li {
    float: left;
    margin: 0 15px;
}

.bar_wrapper_inner_left li:first-child {
    margin: 0 15px 0 5px;
}

.bar_wrapper_inner_left li:first-child input {
    vertical-align: -1px;
}

.bar_wrapper_inner_left li:first-child span {
    margin-left: 5px;
}

.bar_wrapper_inner_left li a {
    color: black;
}

.bar_wrapper_inner_right {
    float: right;
}

.bar_wrapper_inner_right div {
    float: left;
}

.bar_wrapper_inner_right1 {
    width: 101px;
    height: 50px;
    line-height: 50px;
}

.bar_wrapper_inner_right1 em {
    color: #f40;
    font-size: 18px;
    padding: 0 5px;
    font-weight: 700;
    vertical-align: -3px;
}

.bar_wrapper_inner_right1 i {
    font-family: 'icomoon';
}

.bar_wrapper_inner_right2 em {
    color: #f40;
    font-size: 22px;
    padding: 0 5px;
    font-weight: 700;
    vertical-align: -3px;
}

.bar_wrapper_inner_right3 button {
    width: 120px;
    height: 50px;
    background-color: #B0B0B0;
    font-size: 20px;
    color: #fff;
}

.bar_wrapper_inner a:hover {
    color: #ff4400;
}

a:hover {
    color: #ff4400;
}

.colorFFF8E1 {
    background-color: #fff8E1;
}